{% extends 'base_website.html' %}
{% load bootstrap %}
{% block head %}
	<meta name="description" content="Estacionamento 24 horas - Contato">
	<meta name="keywords" content="Estacionamento, 24 horas, carros, motos, fácio acesso, contato">
	<title>Estacionamento Limaverde - Contato</title>
{% endblock %}

{% block menu %}
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" href="{% url 'home' %}">Home</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link disabled dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{% url 'lista_marca' %}">Marcas</a>
			<a class="dropdown-item" href="{% url 'lista_veiculo' %}">Veiculos</a>
			<a class="dropdown-item" href="{% url 'lista_pessoa' %}">Pessoas</a>
			<a class="dropdown-item" href="{% url 'lista_mensalista' %}">Mensalistas</a>
		<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="{% url 'lista_movrotativo' %}">Movimento Rotativo</a>
			<a class="dropdown-item" href="{% url 'lista_movmensalista' %}">Movimento Mensalista</a>
		</div>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{% url 'planos' %}">Nossos Planos</a>
			<a class="dropdown-item" href="{% url 'servicos' %}">Nossos Serviços</a>
			<a class="dropdown-item" href="{% url 'sobre' %}">Sobre Nós</a>
			<a class="dropdown-item active" href="{% url 'contato' %}">Contato</a>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'home_sistema' %}">Login</a>
	</li>
</ul>
<br>
{% endblock %}

{% block main %}
	<main>
		<h1>Entre em contato conosco</h1>
		<!--Seção de Planos-->
		<section id="contato">
			<h2>Contato</h2>
			<form action="/contato/" method="POST">
				<label for="nome">Nome</label>
				<input type="text" name="nome" id="nome" placeholder="Digite seu nome aqui"><br>

				<label for="email">E-mail</label>
				<input type="text" name="email" id="email" placeholder="Digite seu e-mail aqui"><br>

				<label for="telefone">Telefone</label>
				<input type="text" name="telefone" id="telefone" placeholder="Digite seu telefone aqui"><br>

				<label for="mensagem">Mensagem</label>
				<textarea rows="4" cols="50" name="mensagem" id="mensagem" placeholder="Digite sua mensagem"></textarea><br>
				<button type="submit">Enviar</button>
			</form>
		</section>
		<section>
			<h2>Como chegar</h2>
			<div>
				Lorem Ipsum é simplesmente texto fictício da indústria tipográfica e de impressão. Lorem Ipsum tem sido o texto fictício padrão da indústria desde os anos 1500, quando uma impressora desconhecida pegou uma galé do tipo e subiu para fazer um livro de espécimes de tipo. Ele sobreviveu não apenas cinco séculos, mas também o salto para a composição eletrônica, permanecendo essencialmente inalterado. Foi popularizado nos anos 60 com o lançamento de folhas de Letraset contendo passagens de Lorem Ipsum, e mais recentemente com software de editoração eletrônica como Aldus PageMaker incluindo versões de Lorem Ipsum.
			</div>
			<br>
			<div id="image">
				<img src="/static/imagens/estacionamento.jpg" width="200" height="100" alt="Estacionamento">
			</div>
		</section>

	</main>
	<hr>
{% endblock %}