{% extends 'base_sistema.html' %}
{% load bootstrap %}
{% block menu %}
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" href="{% url 'home' %}">Home</a>
	</li>
	{% if user.is_authenticated %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="{% url 'lista_marca' %}">Marcas</a>
				<a class="dropdown-item" href="{% url 'lista_veiculo' %}">Veiculos</a>
				<a class="dropdown-item" href="{% url 'lista_pessoa' %}">Pessoas</a>
				<a class="dropdown-item active" href="{% url 'lista_mensalista' %}">Mensalistas</a>
			<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'lista_movrotativo' %}">Movimento Rotativo</a>
				<a class="dropdown-item" href="{% url 'lista_movmensalista' %}">Movimento Mensalista</a>
			</div>
		</li>
	{% else %}
		<li class="nav-item dropdown">
			<a class="nav-link disabled dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="{% url 'lista_marca' %}">Marcas</a>
				<a class="dropdown-item" href="{% url 'lista_veiculo' %}">Veiculos</a>
				<a class="dropdown-item" href="{% url 'lista_pessoa' %}">Pessoas</a>
				<a class="dropdown-item" href="{% url 'lista_mensalista' %}">Mensalistas</a>
			<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'lista_movrotativo' %}">Movimento Rotativo</a>
				<a class="dropdown-item" href="{% url 'lista_movmensalista' %}">Movimento Mensalista</a>
			</div>
		</li>
	{% endif %}
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{% url 'planos' %}">Nossos Planos</a>
			<a class="dropdown-item" href="{% url 'servicos' %}">Nossos Serviços</a>
			<a class="dropdown-item" href="{% url 'sobre' %}">Sobre Nós</a>
			<a class="dropdown-item" href="{% url 'contato' %}">Contato</a>
		</div>
	</li>
	{% if user.is_authenticated %}
		<li class="nav-item">
			<a class="nav-link disabled" href="">Bem vindo {{ user }}</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'logout' %}">Logout</a>
		</li>
	{% else %}
		<li class="nav-item">
		<a class="nav-link" href="{% url 'login' %}">Login</a>
		</li>
	{% endif %}
</ul>
<br>
{% endblock %}


{% block main %}
<div class="row" align="center">
    <div class="col-sm-12">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}

        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
        <tr>
            <td>{{ form.username | bootstrap }}</td>
        </tr>
        <tr>
            <td>{{ form.password | bootstrap }}</td>
        </tr>
        </table>

        <input type="submit" class="btn btn-primary" value="login">
        <input type="hidden" name="next" class="btn btn-primary" value="{{ next }}">
        </form>

        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{% url 'password_reset' %}">Perdeu a Senha?</a></p>

    </div>
</div>
{% endblock %}
