{% extends 'base_sistema.html' %}

{% block menu %}
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" href="{% url 'home' %}">Home</a>
	</li>
		{% if user.is_authenticated %}
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="{% url 'lista_marca' %}">Marcas</a>
				<a class="dropdown-item" href="{% url 'lista_veiculo' %}">Veiculos</a>
				<a class="dropdown-item" href="{% url 'lista_pessoa' %}">Pessoas</a>
				<a class="dropdown-item" href="{% url 'lista_mensalista' %}">Mensalistas</a>
			<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'lista_movrotativo' %}">Movimento Rotativo</a>
				<a class="dropdown-item" href="{% url 'lista_movmensalista' %}">Movimento Mensalista</a>
			</div>
		</li>
	{% else %}
		<li class="nav-item dropdown">
			<a class="nav-link disabled dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
			<div class="dropdown-menu">
				<a class="dropdown-item" href="{% url 'lista_marca' %}">Marcas</a>
				<a class="dropdown-item" href="{% url 'lista_veiculo' %}">Veiculos</a>
				<a class="dropdown-item" href="{% url 'lista_pessoa' %}">Pessoas</a>
				<a class="dropdown-item" href="{% url 'lista_mensalista' %}">Mensalistas</a>
			<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="{% url 'lista_movrotativo' %}">Movimento Rotativo</a>
				<a class="dropdown-item" href="{% url 'lista_movmensalista' %}">Movimento Mensalista</a>
			</div>
		</li>
	{% endif %}
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{% url 'planos' %}">Nossos Planos</a>
			<a class="dropdown-item" href="{% url 'servicos' %}">Nossos Serviços</a>
			<a class="dropdown-item" href="{% url 'sobre' %}">Sobre Nós</a>
			<a class="dropdown-item" href="{% url 'contato' %}">Contato</a>
		</div>
	</li>
	{% if user.is_authenticated %}
		<li class="nav-item">
			<a class="nav-link disabled active" href="">Bem vindo {{ user }}</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'logout' %}">Logout</a>
		</li>
	{% else %}
		<li class="nav-item">
			<a class="nav-link" href="{% url 'login' %}">Login</a>
		</li>
	{% endif %}
</ul>
<br>
{% endblock %}



{% block main %}
<div class="row">
    <div class="col">
        <h2>Seja bem vindo</h2>
    </div>
</div>
{% endblock %}