{% extends 'base.html' %}
{% load bootstrap %}
{% block menu %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'home_sistema' %}">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'lista_marca' %}">Marcas</a>
      <a class="dropdown-item" href="{% url 'lista_veiculo' %}">Veiculos</a>
      <a class="dropdown-item" href="{% url 'lista_pessoa' %}">Pessoas</a>
      <a class="dropdown-item" href="{% url 'lista_mensalista' %}">Mensalistas</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'lista_movrotativo' %}">Movimento Rotativo</a>
      <a class="dropdown-item" href="{% url 'lista_movmensalista' %}">Movimento Mensalista</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">WebSite</a>
  </li>
</ul>
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm-12">
        <h2 align="center">Lista de Veiculos</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <form action="{% url 'veiculo_novo' %}" method="POST">
            {% csrf_token %}
                <div class="row">
                    <div class="col-sm-4">
                        {{ form.placa | bootstrap }}
                    </div>
                    <div class="col-sm-4">
                        {{ form.cor | bootstrap }}
                    </div>
                    <div class="col-sm-4">
                        {{ form.marca | bootstrap }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form.proprietario | bootstrap }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        {{ form.observacoes | bootstrap }}
                    </div>
                </div>
            <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
        </form>
    </div>
    <div class="col-sm-4">
        <ul>
            {% for valor in veiculo %}
                <li><a href="{% url 'update_veiculo' valor.id %}">{{ valor }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}