{% extends 'base_sistema.html' %}
{% load bootstrap %}

{% block menu %}
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" href="{% url 'home' %}">Home</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{% url 'lista_marca' %}">Marcas</a>
			<a class="dropdown-item" href="{% url 'lista_veiculo' %}">Veiculos</a>
			<a class="dropdown-item active" href="{% url 'lista_pessoa' %}">Pessoas</a>
			<a class="dropdown-item" href="{% url 'lista_mensalista' %}">Mensalistas</a>
		<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="{% url 'lista_movrotativo' %}">Movimento Rotativo</a>
			<a class="dropdown-item" href="{% url 'lista_movmensalista' %}">Movimento Mensalista</a>
		</div>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{% url 'planos' %}">Nossos Planos</a>
			<a class="dropdown-item" href="{% url 'servicos' %}">Nossos Serviços</a>
			<a class="dropdown-item" href="{% url 'sobre' %}">Sobre Nós</a>
			<a class="dropdown-item" href="{% url 'contato' %}">Contato</a>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'home_sistema' %}">Login</a>
	</li>
</ul>
<br>
{% endblock %}

{% block main %}

<div class="row">
    <div class="col-sm-9">
        <h3 align="center">Pessoas Cadastradas</h3>
        <!--
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
            </div>
        -->
        <font size="2">
        <table id="tabela" class="table table-striped">
            <thead>
                <tr>
                <th scope="col" width="5%">Cod.</th>
                <th scope="col">Nome</th>
                <th scope="col">Endereco</th>
                <th scope="col">Telefone</th>
                <th scope="col" width="2%"></th>
                </tr>
            </thead>
            <tbody>
                {% for valor in pessoa %}
                <tr>
                <th scope="row">{{ valor.id }}</th>
                <td>{{ valor.nome }}</td>
                <td>{{ valor.endereco }}</td>
                <td>{{ valor.telefone }}</td>
                <td><a href="{% url 'update_pessoa' valor.id %}" class="btn btn-light btn-sm">Atualizar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </font>
        <!--
        <script>
            $('input#txt_consulta').quicksearch('table#tabela tbody tr');
        </script>
        -->
        <script>
            $(document).ready(function(){
              $('#tabela').DataTable({
                  "language": {
                        "lengthMenu": "Mostrando _MENU_ registros por página",
                        "zeroRecords": "Nada encontrado",
                        "info": "Mostrando página _PAGE_ de _PAGES_",
                        "infoEmpty": "Nenhum registro disponível",
                        "infoFiltered": "(filtrado de _MAX_ registros no total)"
                    }
                });
            });
        </script>
    </div>
    <div class="col-sm-3">
        <h3 align="center">Novo Cadastro</h3>
        <form action="{% url 'pessoa_novo' %}" method="POST">
            {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12">
                        {{ form.nome | bootstrap }}
                </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        {{ form.endereco | bootstrap }}
                    </div>
                    <div class="col-sm-4">
                        {{ form.telefone | bootstrap }}
                    </div>
                </div>
            <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
        </form>
    </div>
</div>
{% endblock %}
