{% extends 'base.html' %}
{% load bootstrap %}
{% block main %}

<div class="row">
    <div class="col-12">
        <h2 align="center">Lista de Marcas</h2>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <form action="{% url 'marca_novo' %}" method="POST">
            {% csrf_token %}
            {{ form | bootstrap }}
            <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
        </form>
    </div>
    <div class="col"-sm-4>
        <ul>
            {% for valor in marca %}
                <li><a href="{% url 'update_marca' valor.id %}">{{ valor.nome}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
