{% extends 'base_sistema.html' %}
{% load bootstrap %}
{% block menu %}
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" href="{% url 'home' %}">Home</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
		<div class="dropdown-menu">
			<a class="dropdown-item active" href="{% url 'lista_marca' %}">Marcas</a>
			<a class="dropdown-item" href="{% url 'lista_veiculo' %}">Veiculos</a>
			<a class="dropdown-item" href="{% url 'lista_pessoa' %}">Pessoas</a>
			<a class="dropdown-item" href="{% url 'lista_mensalista' %}">Mensalistas</a>
		<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="{% url 'lista_movrotativo' %}">Movimento Rotativo</a>
			<a class="dropdown-item" href="{% url 'lista_movmensalista' %}">Movimento Mensalista</a>
		</div>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{% url 'planos' %}">Nossos Planos</a>
			<a class="dropdown-item" href="{% url 'servicos' %}">Nossos Serviços</a>
			<a class="dropdown-item" href="{% url 'sobre' %}">Sobre Nós</a>
			<a class="dropdown-item" href="{% url 'contato' %}">Contato</a>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'home_sistema' %}">Login</a>
	</li>
</ul>
<br>
{% endblock %}

{% block main %}

<div class="row">
	        <div class="col-sm-8">
        <h3 align="center">Marcas Cadastrados</h3>
            <div class="form-group input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input name="consulta" id="txt_consulta" placeholder="Consultar" type="text" class="form-control">
            </div>
        <font size="2">
        <table id="tabela" class="table table-striped">
            <thead>
                <tr>
                <th scope="col" width="5%">Cod.</th>
                <th scope="col">Marca</th>
                <th scope="col" width="5%"></th>
                </tr>
            </thead>
            <tbody>
                {% for valor in marca %}
                <tr>
                <th scope="row">{{ valor.id }}</th>
                <td>{{ valor.nome }}</td>
                <td><a href="{% url 'update_marca' valor.id %}" class="btn btn-light btn-sm">Atualizar</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        </font>
        <script>
            $('input#txt_consulta').quicksearch('table#tabela tbody tr');
        </script>
    </div>
    <div class="col-sm-4">
        <form action="{% url 'marca_novo' %}" method="POST">
            {% csrf_token %}
            {{ form | bootstrap }}
            <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
        </form>
    </div>
</div>

{% endblock %}
