{% extends 'base.html' %}
{% load bootstrap %}
{% block menu %}
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'home_sistema' %}">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'lista_marca' %}">Marcas</a>
      <a class="dropdown-item" href="{% url 'lista_veiculo' %}">Veiculos</a>
      <a class="dropdown-item" href="{% url 'lista_pessoa' %}">Pessoas</a>
      <a class="dropdown-item" href="{% url 'lista_mensalista' %}">Mensalistas</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'lista_movrotativo' %}">Movimento Rotativo</a>
      <a class="dropdown-item" href="{% url 'lista_movmensalista' %}">Movimento Mensalista</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">WebSite</a>
  </li>
</ul>
{% endblock %}

{% block main %}

<div class="row">
    <div class="col">
        <h2 align="center">Atualizando Pessoa: {{ pessoa }}</h2>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-sm-8">
        <form action="{% url 'update_pessoa' pessoa.id %}" method="POST">
            {% csrf_token %}
                <div class="row">
                    <div class="col-sm-12">
                        {{ form.nome | bootstrap }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        {{ form.endereco | bootstrap }}
                    </div>
                    <div class="col-sm-4">
                        {{ form.telefone | bootstrap }}
                    </div>
                </div>
            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
            <a href="{% url 'del_pessoa' pessoa.id %} " class="btn btn-danger btn-block">Deletar</a>
        </form>
    </div>
</div>

{% endblock %}
