{% extends 'base_sistema.html' %}
{% load bootstrap %}
{% block menu %}
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" href="{% url 'home' %}">Home</a>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{% url 'lista_marca' %}">Marcas</a>
			<a class="dropdown-item" href="{% url 'lista_veiculo' %}">Veiculos</a>
			<a class="dropdown-item" href="{% url 'lista_pessoa' %}">Pessoas</a>
			<a class="dropdown-item active" href="{% url 'lista_mensalista' %}">Mensalistas</a>
		<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="{% url 'lista_movrotativo' %}">Movimento Rotativo</a>
			<a class="dropdown-item" href="{% url 'lista_movmensalista' %}">Movimento Mensalista</a>
		</div>
	</li>
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
		<div class="dropdown-menu">
			<a class="dropdown-item" href="{% url 'planos' %}">Nossos Planos</a>
			<a class="dropdown-item" href="{% url 'servicos' %}">Nossos Serviços</a>
			<a class="dropdown-item" href="{% url 'sobre' %}">Sobre Nós</a>
			<a class="dropdown-item" href="{% url 'contato' %}">Contato</a>
		</div>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'home_sistema' %}">Login</a>
	</li>
</ul>
<br>
{% endblock %}

{% block main %}

<div class="row">
    <div class="col">
        <h2 align="center">Atualizando Mensalista: {{ mensalista }}</h2>
    </div>
</div>
<div class="row justify-content-center">
   <div class="col-sm-8">
        <form action="{% url 'update_mensalista' mensalista.id %}" method="POST">
            {% csrf_token %}
             <div class="row justify-content-md-start">
                <div class="col-sm-4">
                    {{ form.inicio | bootstrap }}
                </div>
                 <div class="col-sm-4">
                    {{ form.valor_mes | bootstrap }}
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {{ form.veiculo | bootstrap }}
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Salvar</button>
            <a href="{% url 'del_mensalista' mensalista.id %}" class="btn btn-danger btn-block">Deletar</a>
        </form>
    </div>
</div>

{% endblock %}
