<!doctype html>
{% load static %}
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <title>Document</title>
</head>
<body>

<div class="container-fluid">

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'home_sistema' %}">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Serviços</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'lista_marca' %}">Marcas</a>
      <a class="dropdown-item" href="{% url 'lista_veiculo' %}">Veiculos</a>
      <a class="dropdown-item" href="{% url 'lista_pessoa' %}">Pessoas</a>
      <a class="dropdown-item" href="{% url 'lista_mensalista' %}">Mensalistas</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'lista_movrotativo' %}">Movimento Rotativo</a>
      <a class="dropdown-item" href="{% url 'lista_movmensalista' %}">Movimento Mensalista</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}">WebSite</a>
  </li>
</ul>
    <br>
    {% block main %}
    {% endblock %}

</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
</body>
</html>